<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">HaloFan</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse px-5" id="navbarNavDropdown">
            <ul class="navbar-nav px-5">
                <li class="nav-item px-5">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item px-5">
                    <a class="nav-link" href="./pages/news.html">Noticias</a>
                </li>
                <li class="nav-item px-5 " >
                    <a class="nav-link" href="./pages/community.html">Comunidad</a>
                </li>

                <li class="nav-item px-5 " style="margin-left: 280px;">
                    <div class="row">
                        <div class="col">
                            <a href="/registro"> 
                                <button type="button" class="btn btn__log">Sign Up</button>
                            </a>
                        </div>
                    </div>                   
                </li>                
            </ul>
        </div>
    </div>
</nav>