<div id="carouselExampleControls" class="carousel  slide h-75" data-bs-ride="carousel">
    <div class="carousel-inner ">
        <div class="carousel-item active ">
            <img src="./img/logo2.jpg" class="d-block w-100 sec__img " alt="...">


        </div>
        <div class="carousel-item ">
            <img src="https://assets-prd.ignimgs.com/2021/12/08/image-7-1638998568534.png"
                class="d-block w-100 sec__img" alt="...">
        </div>
        <div class="carousel-item ">
            <img src="https://www.somosxbox.com/wp-content/uploads/2022/06/20220630_092323.jpg"
                class="d-block w-100 sec__img" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>