* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, serif;
}
body{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
body::-webkit-scrollbar {
    width: 6px;               
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #FFB600;   
    border-radius: 5px;       
    border: 3px solid #FFB600;  
  }

h3{
    color: #FFB600;
    margin-bottom: 15px;
}
h2{
    color: aliceblue;
    margin-bottom: 15px;
}

.sec__one {
    margin-top: 25px;
    border-radius: 15px;
    box-shadow: 25px;
    background-color: #507d2a;
}

.btn__log{
    background-color: #FFB600;
    color: rgb(255, 251, 251);
    padding-right: 35px;
    padding-left: 30px;
}

.sub__tittle {
    color: #FFB600;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 40px;

}

.text__bod {
    color: aliceblue;
    margin-bottom: 25px;
}

.sec__info{
    margin-bottom: 67px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.sec__right {
    height: 250px;
    width: 500px; 
}

.sec__left{
    height: 250px;
    width: 500px; 
    padding-top: 40px;
}

.sec__img{
    height: 480;
    width: 500px;
}

